<head>
  <script src="/js/route.js" type="text/javascript"></script>
  <link type="text/css" rel="stylesheet" href="/css/route.css"/>
</head>

<form action="/route" method="POST">
  <div>
    <label for="solarsystem">Solar System Name</label><input id="solarsystem" name="solarsystem" type="text">
  </div>
  <div>
    <ul id="waypoints"></ul>
  </div>
  <input type="submit" class="button" value="Find Route">
</form>

<table class="ui-widget">
  <tbody>
  <tr>
    <td>1</td>
    <td></td>
    <td>Some System</td>
    <td>13.4</td>
  </tr>
  </tbody>
</table>
