<head>
  <script src="/js/route.js" type="text/javascript"></script>
  <link type="text/css" rel="stylesheet" href="/css/route.css" media="all"/>
</head>

<h1>Find Route</h1>

<h2>Determine the most optimal route</h2>

<form id="theform" action="/route" enctype="multipart/form-data" method="post">
  <fieldset id="pt1">
    <legend><span>Step </span>1. <span>: Select Route</span></legend>
    <h3>Search and Select Destinations</h3>
    <div class="help">Enter any part of a system name to search for it.</div>
    <label for="solarsystem">Solar System Name</label>
    <input id="solarsystem" name="solarsystem" type="text">
    <label for="waypoints">Waypoints</label>
    <ul id="waypoints"></ul>
  </fieldset>
  <fieldset id="pt2">
    <legend><span>Step </span>2. <span>: Select Ship</span></legend>
    <h3>Choose the ship to make the trip in</h3>
    <div class="help">Enter any part of a ship name to search for it.</div>
    <label for="ship-search">Ship</label>
    <input id="ship-search" name="ship-search" type="text">
    <div>
      <label for="ship-selected">Selected Ship</label><input type="text" name="ship-name" id="ship-selected" readonly="readonly">
      <input type="hidden" name="ship"/>
    </div>
  </fieldset>
  <fieldset id="pt3">
    <legend><span>Step </span>3. <span>: Select Character</span></legend>
    <h3>Choose the character to make the trip</h3>
    <div class="help">The skills of the character can make a difference in route selection.</div>
    <label for="character-search">Character Name</label>
    <input type="text" id="character-search" tabindex="4"/>
    <div>
      <label for="character-selected">Selected Character</label><input type="text" name="character-name" id="character-selected" readonly="readonly">
      <input type="hidden" name="character"/>
      <input type="hidden" name="keyID"/>
      <input type="hidden" name="vCode"/>
    </div>
  </fieldset>
  <fieldset id="pt4">
    <legend>Step 4  : Submit form</legend>
    <input type="submit" id="submitform" tabindex="6" value="Find Route &raquo;" />
  </fieldset>
</form>

<table class="ui-widget">
  <tbody>
  <tr>
    <td>1</td>
    <td></td>
    <td>Some System</td>
    <td>13.4</td>
  </tr>
  </tbody>
</table>
