<head>
  <script src="/js/route.js" type="text/javascript"></script>
  <link type="text/css" rel="stylesheet" href="/css/route.css" />
</head>

<form action="/route" method="POST">
  <div class="ui-widget">
    <label for="solarsystem">Solar System Name</label><input id="solarsystem" name="solarsystem" type="text">
  </div>
  <div class="ui-widget">
    <ol id="waypoints"></ol>
  </div>
  <input type="submit" class="button" value="Find Route">
</form>

<table>
  <tbody>
    <tr><td>1</td><td></td><td>Jita</td></tr>
  </tbody>
</table>